body{
    background-color: white;
}
.api{
    color: black;
}
.item {
    margin-bottom: 30px;
}
.text-block {
	color: white;
    text-align: center;
    border-radius: 10px;
	/* position: absolute; */
	/* bottom: 0px;
	height: 45px; */
	background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    /* transition: .5s ease; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
/* .item{
    display: inline-block;
    width: 300px;
    box-sizing: border-box;
    margin-right: 12px;
} */

.img-thumb{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-thumb img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* p.time{
    position: absolute;
    color: white;
    bottom: 6px;
    right: 6px;
    margin: 0;
    background: black;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
} */

p.title{
    font-size: 20px;
    font-style: oblique;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightblue;
}

p.rak{
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .bintang{
    color: orange;
} */

.bayangan{
    box-shadow: 0px 0px 10px 5px black;
    border-radius: 10px;
}
.stok{
    color: lightsalmon;
}
.stok span{
    font-size: 12px;
}

.judul{
    text-align: center;
    font-style: italic;

}

thead .nama{
    width: 35%;
}
thead .rak{
    width: 30%;
}
thead .stok{
    width: 5%;
}
thead .stokS{
    width: 5%;
}
thead .dipinjam{
    width: 5%;
}
thead .opsi{
    width: 20%;
}

hr{
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}